* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/baelle.jpg");
  background-size: cover;
  height: 100vh;
}

h1,
p {
  text-align: center;
  font-size: 6rem;
  color: lightgrey;
}
p {
  font-size: 2rem;
}
li {
  list-style-type: none;
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
#numbers:nth-child(-n + 6) {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  width: 120px;
  height: 120px;

  border: solid 1px #555;
  background-color: lightgray;
  box-shadow: inset 10px -10px 25px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 10px -10px 25px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 10px -10px 25px rgba(0, 0, 0, 0.6);
  -o-box-shadow: inset 10px -10px 25px rgba(0, 0, 0, 0.6);
}

.btn-primary {
  width: 60%;
}
.btn-primary,
.btn-dark {
  padding: 1rem;
  height: 60px;
}
@media (max-width: 450px) {
  h1 {
    font-size: 4rem;
  }
  li {
    font-size: 3rem;
  }
  #numbers:nth-child(-n + 6) {
    width: 80px;
    height: 80px;
  }
  #numbers:nth-child(n + 7) {
    width: 120px;
    height: 120px;
  }
}
